<div class="logo">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons">book</i>&nbsp; &nbsp;Di-Book
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>