/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/img/background-photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

@media only screen and (max-width: 767px) {
  .public {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("assets/img/background-photo-mobile-devices.jpg");
  }
}