<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Editar Perfil</h4>
                        <p class="category">Completa tu perfil</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Nombre</label>
                                        <input type="text"
                                        id = "name"                                        
                                        [(ngModel)]="user.name"
                                        [ngModelOptions]="{standalone: true}"
                                         class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Apellido</label>
                                        <input type="text" 
                                        class="form-control"
                                        id = "last_name"                                        
                                        [(ngModel)]="user.last_name"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Universidad</label>
                                        <input type="text" 
                                        class="form-control"
                                        id = "college"
                                        [(ngModel)]="user.college"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Direccion</label>
                                        <input type="text" 
                                        class="form-control"
                                        id = "address"
                                        [(ngModel)]="user.address"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Celular</label>
                                        <input type="number" 
                                        class="form-control"
                                        id = "cellphone"
                                        [(ngModel)]="user.cellphone"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Correo</label>
                                        <input type="email"
                                         class="form-control"
                                         id = "email"
                                         [(ngModel)]="user.email"
                                         [ngModelOptions]="{standalone: true}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Acerca de mi</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Materias cursadas, estudios, intereses, metas</label>
                                            <textarea 
                                            class="form-control"
                                            id = "about_me" 
                                            rows="5"
                                            [(ngModel)]="user.about_me"
                                            [ngModelOptions]="{standalone: true}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit"
                             class="btn btn-danger pull-right"
                             (click)="update($event)">Actualizar perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>

                    <div class="content">
                        <h4 class="category text-gray">{{user.name}} {{user.last_name}}</h4>
                        <p class="text-gray">
                            {{user.about_me}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>