<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
  <div class="card">
    <div class="card-header text-center" data-background-color="purple">
      <br>
      <h4 class="title">Registrate</h4>
      <br>
    </div>
    <p class="category text-center">Unete a nosotros</p>
    <div class="card-content">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">face</i>
        </span>
        <div class="form-group label-floating">
          <label class="control-label">nombre</label>
          <input type="text" class="form-control">
          <span class="material-input"></span>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">email</i>
        </span>
        <div class="form-group label-floating">
          <label class="control-label">correo</label>
          <input type="email" class="form-control">
          <span class="material-input"></span>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">lock_outline</i>
        </span>
        <div class="form-group label-floating">
          <label class="control-label">contraseña</label>
          <input type="password" class="form-control">
          <span class="material-input"></span>
        </div>
      </div>
      <div class="footer text-center">
        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">
          OK
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </div>
</div>