<div class="main-content">
    <div class="row card-group">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let subject of subjects" routerLinkActive="active">
            <a [routerLink]="['../subject', subject.id]">
                <app-subject-card [subject]="subject"></app-subject-card>
            </a>
        </div>
    </div>
</div>