<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="green">
        <h4 class="card-title">Introducción</h4>
      </div>
      <div class="card-content">
        <div class="tab-content">
          <div class="tab-pane active" id="pill1">
              el álgebra es una extensión de la aritmética en la cual se desconoce el valor de una de las cantidades con las que se opera. Es la rama de las matemáticas que estudia estructuras, relaciones y cantidades.
              
              Se trabaja con las mismas reglas que en la aritmética agregando un par de conceptos tales como las formulas y las ecuaciones. En el Álgebra se estudia los números de el modo mas general posible.
              
              En el álgebra los números son representados por símbolos tales como a,b,x,y
              
              En el álgebra se usan letras para representar números o usamos letras para la demostración de reglas y formulas para mostrarlo de una manera general que es apta para cualquier numero lo que hace de estas reglas generales para cualquier numero existente. Al usar letras para estas formulas estamos hablando en lenguaje algebraico o notación algebraica.
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-img">
        <img src="/assets/img/ejemplo_algebra"/>
    </div>  
  </div>
</div>