<div class="card card-stats">
    <div class="card-header" data-background-color="green">
        <i class="material-icons">{{subject.icon}}</i>
    </div>
    <div class="card-content">
        <p class="category wrap-text">{{subject.name}}</p>
        <h3 class="title">{{subject.estimatedTime}} Hrs</h3>
    </div>
    <div class="card-footer" *ngFor="let user of subject.users">
        <div class="stats">
           <i class="material-icons">person</i>
            {{user.name}} {{user.last_name}}
        </div>
    </div>
</div>