<div class="container">
  <div class="row vertical-center-row ">
    <ul class="text-center col-md-4 col-md-offset-4 nav nav-pills nav-pills-icons nav-pills-primary " role="tablist" style="position: relative;">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
        <a class="option" [routerLink]="[menuItem.path]" role="tab" data-toggle="tab">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>