<div class="col-md-10 col-md-offset-1">
    <div class="card card-signup">
        <h2 class="card-title text-center">DiBook</h2>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="card-content">
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">cached</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Actualizado</h4>
                            <p class="description">
                                Cuenta con contenido actualizado.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">code</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Sube contenido</h4>
                            <p class="description">
                                Sube contenido
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="material-icons">group</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Grupo</h4>
                            <p class="description">
                                Grupo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>